/* ----------------------------------- COLORS ----------------------------------- */

$c_bg_body: hsl(204, 43%, 93%);
$c_bg_button: hsl(71, 73%, 54%);
$c_bg_top: hsl(0, 0%, 98%);
$c_bg_middle: hsl(179, 62%, 43%);
$c_bg_bottom: hsl(179, 47%, 52%);

$c_txt_main: hsl(179, 62%, 43%);
$c_txt_secondary_dark: hsl(218, 22%, 67%);
$c_txt_secondary_light: hsl(204, 43%, 93%);
$c_txt_accentuate: hsl(71, 73%, 54%); 